{% extends "nav.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/index.css">
<!-- {{ url_for('static', filename='index.css') }} -->
{% endblock %}

{% block main %}
<section class="landing-page">
    <section class="container-div">
        <h1 class="titles">Individuelles Rückentraining für jeden.</h1>
        <div class="p-div">
            <p class="para">Rückenschmerzen sind für viele Menschen eine Qual.<br>Wir wollen sie langfristig durch Training davon befreien.</p>
        </div>
        <a href="#" class="button">Unser Konzept</a>
    </section>

    <section class="quote">
        <div class="quote-div">
            <p>,,Ein Training das jeden zu seinem schmerzfreien Rücken führt. Individuell, persönlich und in nur 3 Minuten"</p>
            <p> ~ Dr. Jan Wolff</p>
        </div>
    </section>

    <section class="section-2">
        <div class="first-img">
            <img src="/static/presse/dbbilder/1.png" alt="Bild">
        </div>
        <div class="first-text">
            <h1>TEST RIGHT</h1>
        </div>
    </section>


    <section class="section-3">
    </section>
</section>

{% endblock %}