{% extends "nav.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/index.css">
<!-- {{ url_for('static', filename='index.css') }} -->
{% endblock %}

{% block main %}
<section class="landing-page">
    <section class="container-div">
        <div class="container-div-text">
            <h1 class="titles">Individuelles Rückentraining für jeden.</h1>
            <div class="p-div">
                <p class="para">Rückenschmerzen sind für viele Menschen eine Qual.<br>Wir wollen sie langfristig durch Training davon befreien.</p>
            </div>
            <a href="#" class="button">Unser Konzept</a>
        </div>
    </section>

    <section class="quote">
        <div class="quote-line"></div>
        <div class="quote-div">
            <p>,,Ein Training das jeden zu seinem schmerzfreien Rücken führt. Individuell, persönlich und in nur 3 Minuten"</p>
            <p> ~ Dr. Jan Wolff</p>
        </div>
        <div class="quote-line"></div>
    </section>

    <section class="who-are-we">
        <div>
            <h1>Lernen Sie uns kennen</h1>
        </div>
    </section>

    <section class="sections section-1">
        <div class="section-img"></div>
        <div class="section-text-div">
            <div>
                <h1 class="section-text">Unsere medizinische Trainingstherapie</h1>
                <p class="section-para">Über 3 Wochen und insgesamt 12 Wochen zum Traumrücken.</p>
                <button class="section-button">Erfahren Sie mehr</button>
            </div>
        </div>
    </section>


    <section class="sections section-2">
        <div class="section-text-div">
            <div>
                <h1 class="section-text">Unsere medizinische Trainingstherapie</h1>
                <p class="section-para">Über 3 Wochen und insgesamt 12 Wochen zum Traumrücken.</p>
                <button class="section-button">Erfahren Sie mehr</button>
            </div>
        </div>
        <div class="section-img"></div>
    </section>
</section>

{% endblock %}