{% extends "nav.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/index.css">
<!-- {{ url_for('static', filename='index.css') }} -->
{% endblock %}

{% block main %}

<section>
    <div class="container-div">
            <h1 class="titles">Individuelles Rückentraining für jeden.</h1>
            <div class="p-div">
                <p class="para">Rückenschmerzen sind für viele Menschen eine Qual.<br>Wir wollen sie langfristig durch Training davon befreien.</p>
            </div>
            <a href="#" class="button">Unser Konzept</a>
    </div>
</section>


<section>
    <div class="section-2">
    </div>
</section>


<section>
    <div class="section-3">
    </div>
</section>

{% endblock %}