<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/nav.css">
<!-- {{ url_for('static', filename='nav.css') }} -->
{% block css %}
{% endblock %}
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i" rel="stylesheet">
<script src="../static/nav.js"></script>
<!-- {{ url_for('static', filename='nav.js') }} -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<meta property="og:site_name" content="Individuelles Rückentraining">
<meta property="og:description" content="Das ist die neue Website der IRT Bad Homburg">
</head>


<body id="body">

    <!--NAVBAR-->
    <section>
        <!--MOBILE NAVBAR-->
        <section id="mobile-navbar">
            <!--NAVBAR HIDDEN-->
            <section>
                <div id="sidenav" class="sidenav-inner">
                    <a href="/lp" id="sidenav-h">IRT</a>
                    <p>Der Weg zum schmerzfreien Rücken</p>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <button class="open-konzept" onclick="togglePanel()">Unser Konzept</button>
                    <h3 class="plus">&#65291</h3>
                    <div class="panel-konzept">
                        <a href="#">Die Therapie (MTT)</a>
                        <a href="#">Für Ärzte</a>
                    </div>
                    <a href="#">Team</a>
                    <a href="#">Häufige Fragen</a>
                    <a href="/presse">Presse</a>
                    <a href="#">Kontakt</a>
                </div>
            </section>

            <!--NAVBAR HAMBURGER-->
            <section class="header">
                <div class="bar-wrap" onclick="openNav()">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar" id="last"></div>
                </div>
                <h1 class="heading">IRT</h1>
            </section>
        </section>

        <!--DESKTOP NAVBAR-->
        <section id="desktop-navbar">
            <section class="header">
                <h1 class="heading">IRT</h1>
                <navbar class="desktop-nav">
                    <a href="#">Unser Konzept</a>
                    <a href="#">Team</a>
                    <a href="#">Häufige Fragen</a>
                    <a href="/presse">Presse</a>
                    <a href="#">Kontakt</a>
                </navbar>
            </section>
        </section>
    </section>

    <!--MAIN CONTENT-->
    <main>
        
        {% block main %}{% endblock %}

    </main>

    <!--FOOTER-->
    <section class="footer">
        <div class="number1">
            <h1>IRT</h1>
            <p>Der Weg zum schmerzfreien Rücken.</p>
        </div>
    
        <div class="info">
            <a class="info-uber" href="">Über uns</a>
            <a class="info-jobs" href="">Jobs</a>
            <a class="info-data" href="">Data</a>
            <a class="info-impres" href="">Impressum</a>
        </div>

        <div class="newsletter">
            <form class="newsletter-form" method="POST">
                <input type="email" placeholder="E-Mails?" name="email" required>
                <input type="submit" value="Ja, bitte" class="button">
            </form>
        </div>

        <div class="contact">
            <h1>Contact</h1>
            <p>06172 690344</p>
            <p>Zeppelinstr. 24</p>
            <p>61352 Bad Homburg</p>
        </div>
        
    </section>

</body>
</html>