<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/index.css">
<!-- {{ url_for('static', filename='index.css') }} -->
{% block css %}
{% endblock %}
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i" rel="stylesheet">
<script src="../static/index.js"></script>
<!-- {{ url_for('static', filename='index.js') }} -->
<meta property="og:site_name" content="Individuelles Rückentraining">
<meta property="og:description" content="Das ist die neue Website der IRT Bad Homburg">
</head>


<body id="body">

    <!--NAVBAR-->
    <section>
        <!--NAVBAR HIDDEN-->
        <section>
            <div id="sidenav" class="sidenav-inner">
                    <a href="/lp" id="sidenav-h">IRT</a>
                    <p>Der Weg zum schmerzfreien Rücken</p>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#">Unser Konzept</a>
                    <a href="#">Team</a>
                    <a href="/presse">Presse</a>
                    <a href="#">FAQ</a>
                    <a href="#">Kontakt</a>
                </div>
        </section>

        <!--NAVBAR HAMBURGER-->
        <section class="header">
            <div class="bar-wrap" onclick="openNav()">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar" id="last"></div>
            </div>
            <h1 class="heading">IRT</h1>
            
        </section>
    </section>

    <!--MAIN CONTENT-->
    <main>
        
        {% block main %}{% endblock %}

    </main>

    <!--FOOTER-->
    <section class="footer">
        <div class="number1">
            <h1>IRT</h1>
            <p>Der Weg zum schmerzfreien Rücken.</p>
        </div>
        <div class="number2">
            <form method="POST">
                <input type="email" name="email">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="bottom">
            <div class="info">
                <a>Über uns</a>
                <a>Jobs</a>
                <a>Data</a>
                <a>Impressum</a>
            </div>
            <div class="contact">
                <h1>Contact</h1>
                <p>Tel:</p> <p>0174 822 7359</p>
                <p>Email:</p> <p>team@irt.de</p>
                <p>Street:</p> <p>Teststraße 31</p>
            </div>
        </div>
        
    </section>

</body>
</html>