{% extends "nav.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="../static/presse.css">
<!-- {{ url_for('static', filename='presse.css') }} -->
{% endblock %}

{% block main %}

<section class="articles-section">
    {% for article in articles %}
        <div class="article-pic">
            <img src="/static/presse/dbbilder/{{ article[0] }}.png" alt="Bild">
                <div class="article-date">
                    <h1>{{ article[2] }}</h1>
                </div>
                <div class="dotted-line">
                </div>
        </div>
        <div class="article-text">
            <h1>{{ article[1] }}</h1>
            <h3>{{ article[3] }}</h3>
        </div>
    {% endfor %}
</section>

{% endblock %}