body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    line-height: 170%;
    letter-spacing: 1px;
}
.titles {
    font-size: 30px;
    font-weight: 400;
}
.para {
    font-size: 20px;
    font-weight: 500;
}
.sidenav-mob {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgb(133, 196, 255), #2699FB);
    overflow-x: hidden;
    padding-top: 60px;
    text-align: center;
    transition: 0.5s;
}
.sidenav-mob h1 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.sidenav-mob p {
    text-decoration: none;
    margin-top: -20px;
    margin-bottom: 70px;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.sidenav-mob a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.sidenav-mob a:hover {
    color: #f1f1f1;
}
.sidenav-mob .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.bar-wrap {
    position: absolute;
    left: 10px;
}
.bar-wrap .bar {
    width: 30px;
    height: 3px;
    background-color: #2699FB;
    margin: 0 0 8px 0;
}
.bar-wrap #last {
    width: 20px;
    margin: 0;
}
.header {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
}
.heading {
    font-weight: 500;
    font-size: 1.8em;
    color: #2699FB;
    margin: auto;
}
.container-div {
    background: linear-gradient(0deg, rgb(133, 196, 255), #2699FB);
    height: 20em;
    width: 100%;
    text-align: center;
}
.container-div h1 {
    color: white;
    text-align: center;
    padding-top: 35px;
    margin: 0;
}
.container-div .p-div {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.container-div p {
    color: white;
    width: 100%;
    text-align: center;
}
.button {
    background-color: #FFFFFF; 
    padding: 5px 20px;
    border-radius: 7px;
    color: rgb(117, 117, 117);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid rgb(117, 117, 117);

}
.section-2 {
    background-color: lightgrey;
    width: 100%;
    height: 25em;
    margin-top: 15px;
}

.section-3 {
    background-color: lightpink;
    width: 100%;
    height: 25em;
    margin-top: 15px;
}

/*
TESTING
*/
.hamburger {
  position: absolute;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #2699FB; }

.hamburger-box {
  width: 40px;
  height: 15px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 35px;
  height: 3px;
  background-color: #2699FB;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }
.hamburger-inner::before {
  top: -10px; }
.hamburger-inner::after {
  bottom: -10px; }


.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
      