.landing-page {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto 350px 350px 350px 350px;
    grid-template-areas:
        "intro intro"
        "quote quote"
        "who who"
        "first first"
        "second second"
        "third third"
        "fourth fourth";
    grid-row-gap: 40px;
}
/*CONTAINER-DIV*/
.container-div {
    grid-area: intro;
    background-image: linear-gradient(to bottom, transparent, #2699FB), url("/static/index/2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    text-align: center;
    display: flex;
}
.container-div .container-div-text {
    align-self: center;
    height: auto;
    margin: auto;
}
.container-div h1 {
    color: white;
    text-align: center;
    padding: 0px 20px 0px 20px;
    margin: 0;
}
.container-div .p-div {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
.container-div p {
    color: white;
    width: 100%;
    text-align: center;
}
.button {
    background-color: #FFFFFF; 
    padding: 7px 15px;
    border-radius: 3rem;
    color: rgb(117, 117, 117);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
/*QUOTE*/
.quote {
    grid-area: quote;
    display: flex;
    flex-direction: column;
}
.quote .quote-div {
    margin: auto;
    padding: 0px 20px 0px 20px;
    text-align: center;
    max-width: 400px;
}
.quote-div p {
    font-weight: 300;
    font-style: italic;
}
.quote .quote-line {
    background-color: lightgrey;
    width: 300px;
    height: 2px;
    align-self: center;
}
/*WHO-ARE-WE*/
.who-are-we {
    grid-area: who;
    width: 100%;
}
.who-are-we div {
    width: 100%;
    text-align: center;
}
.who-are-we h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 0px;
}

/*SECTIONS*/
.sections {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.section-1 {
    grid-area: first;
    background-image: linear-gradient(to right, rgba(107, 186, 255, 0.657), rgb(38, 152, 251)), url("/static/index/1.jpg");
}
.section-2 {
    grid-area: second;
    background-image: linear-gradient(to left, rgba(107, 186, 255, 0.657), #2699FB), url("/static/index/4.jpg");
}
.section-3 {
    grid-area: third;
    background-image: linear-gradient(to right, rgba(107, 186, 255, 0.657), #2699FB), url("/static/index/1.jpg");
}
.section-4 {
    grid-area: fourth;
    background-image: linear-gradient(to left, rgba(107, 186, 255, 0.657), #2699FB), url("/static/index/4.jpg");
}
.section-text-div {
    color: white;
    width: 100%;
    height: auto;
    align-self: center;
    text-align: center;
}
.section-text-div div {
    margin: auto;
    width: 85%;
}
.section-text {
    font-weight: 400;
    font-size: 25px;
    margin: 20px 0px 5px 0px;
}
.section-para {
    font-weight: 300;
    font-size: 25px;
}
.section-button {
    background-color: #FFFFFF; 
    padding: 7px 20px;
    border-radius: 3rem;
    color: rgb(117, 117, 117);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: 0px;
    cursor: pointer;
}
.section-img {
    display: none;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.section-1 .section-img {
    background-image: url("/static/index/1.jpg");
}
.section-2 .section-img {
    background-image: url("/static/index/4.jpg");
}
.section-3 .section-img {
    background-image: url("/static/index/1.jpg");
}
.section-4 .section-img {
    background-image: url("/static/index/4.jpg");
}

/*MEDIA QUERIES*/
@media screen and (min-width: 320px) {
    @media screen and (min-height: 560px) {
        .container-div {
            height: 95vh;
        }
    }
}

@media screen and (min-width: 480px) {
    .container-div {
        height: 700px;
    }
    .container-div h1 {
        padding: 70px 40px 0px 40px;
    }
    .container-div p {
        font-size: 30px;
        margin: 20px 0px 60px 0px;
    }
    .button {
        padding: 10px 40px;
        font-size: 20px;
    }
    .quote .quote-line {
        width: 400px;
    }
    @media screen and (min-height: 730px) {
        .container-div {
            height: 95vh;
        }
    }
}

/*IPAD/LAPTOP*/
@media screen and (min-width: 768px) {
    .container-div {
        height: 800px;
    }
    .titles {
        font-size: 60px;
    }
    .landing-page {
        grid-row-gap: 0px;
    }
    .section-img {
        display: block;
        width: 50%
    }
    .section-text-div {
        width: 50%;
    }
    .quote {
        margin-top: 40px;
    }
    .quote-div p {
        font-size: 22px;
    }
    .quote .quote-line {
        width: 700px;
    }
    .who-are-we {
        margin: 40px 0px 40px 0px;
    }
    /*SECTIONS*/
    .section-1 {
        background-image: none;
    }
    .section-2 {
        background-image: none;
    }
    .section-3 {
        background-image: none;
    }
    .section-4 {
        background-image: none;
    }
    .section-1 .section-text-div {
        text-align: left;
    }
    .section-2 .section-text-div {
        text-align: right;
    }
    .section-3 .section-text-div {
        text-align: left;
    }
    .section-4 .section-text-div {
        text-align: right;
    }
    .section-1 .section-text-div div {
        margin-left: 20px;
    }
    .section-2 .section-text-div div {
        margin-right: 20px;
    }
    .section-3 .section-text-div div {
        margin-left: 20px;
    }
    .section-4 .section-text-div div {
        margin-right: 20px;
    }
    .section-text-div {
        color: black;
    }
    .section-text {
        font-weight: 400;
        font-size: 25px;
        margin: 20px 0px 5px 0px;
    }
    .section-para {
        font-weight: 300;
        font-size: 25px;
    }
    .section-button {
        background-color: rgba(38, 152, 251, 0.74);
        padding: 5px 20px;
        border-radius: 3em;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        border: 0px;
    }
    @media screen and (min-height: 820px) {
        .container-div {
            height: 95vh;
        }
    }
}

/*LAPTOP*/
@media screen and (min-width: 992px) {
    .quote .quote-div {
        max-width: 800px;
    }
    .quote-div p{
        font-size: 25px;
    }
    .quote .quote-line {
        width: 900px;
    }
}
/*ENDLESS*/
@media screen and (min-width: 1200px) {
    .section-1 .section-text-div div {
        margin-left: 60px;
    }
    .section-2 .section-text-div div {
        margin-right: 60px;
    }
    .section-3 .section-text-div div {
        margin-left: 60px;
    }
    .section-4 .section-text-div div {
        margin-right: 60px;
    }
}