.articles-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title-div {
    width: 100%;
    height: auto;
    text-align: center;
}
.title-div h1 {
    margin: 40px 0px 60px 0px;
    font-weight: 400;
    font-size: 45px;
}
.article-pic {
    width: 90%;
    height: 300px;
    overflow: hidden;
    margin: auto;
    position: relative;
}
.article-pic img {
    width: 100%;
    height: auto;
}
.article-pic .article-date {
    position: absolute;
    background-color: white;
    width: 40px;
    height: 100%;
    left: 30px;
    bottom: 0px;
}
.article-date-wrapper {
    width: 100%;
    position: absolute;
    bottom: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.article-date-wrapper .day-month {
    margin: auto;
}
.article-date-wrapper h2 {
    line-height: 130%;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}
.article-date-wrapper .day {
    color: rgb(41, 187, 255);
    float: left;
}
.article-date-wrapper .month {
    float: left;
}
.article-date-wrapper .year {
    margin: auto;
}
.article-text {
    text-align: center;
    margin: 0;
    padding: 0;
    margin: auto;
}
.article-text .atricle-title {
    font-weight: 500;
    margin: 40px 25px 5px 25px;
}
.article-text .article-author {
    margin-top: 5px;
    font-weight: 300;
}
.article-text .article-p {
    font-weight: 400;
    margin: 0px 30px 70px 30px;
}
.article-text .article-line {
    height: 3px;
    width: 70%;
    background-color: black;
    margin: 0 auto;
    margin-bottom: 70px;
}